<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "farhome.features.wounds"}}</th>
                <th>{{localize "farhome.features.level"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="wounds" type="text" value="{{item.wounds}}" placeholder="Wounds" data-dtype="Number" />
                </td>
                <td>
                    <input name="level" type="text" value="{{item.level}}" placeholder="Level" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </div>
</form>