<form class="{{cssClass}}" autocomplete="off">
  <div>
    <label for="compendium-name">Compendium Name</label>
    <input type="text" id="compendium-name" name='compendiumName' value='{{compendiumName}}'/>

    <label for="monster-url">5etools Monster Data URL (Raw Text)</label>
    <input type="text" id="monster-url" name='vetoolsMonsterUrl' value='{{vetoolsMonsterUrl}}'/>

    <label for="hp-scaling">HP Scaling</label>
    <input type="number" id="hp-scaling" name='hpScale' value='{{hpScale}}'/>

    <button type="button" id="import">Import</button>
  </div>
</form>