<div class="attribute-group">
  <label for="{{objectString}}.value" class="attribute-label">{{label}}</label>
  <div class="attribute-content flex-center flex-between">
    <input type="text" name="{{objectString}}.value" value="{{value}}" data-dtype="Number"/>
  </div>
</div>