<div class="attribute-box box">
  <label class="attribute-label" for="{{objectString}}.value">{{label}}</label>
  <div class="attribute-content flex-center flex-between">
    <input type="text" name="{{objectString}}.value" value="{{value}}" data-dtype="Number"/>
  </div>
</div>