<div class="attribute-box">
  <label class="attribute-label" for="{{objectString}}.value">{{label}}</label>
  <input class="attribute-input" type="text" name="{{objectString}}.value" value="{{value}}" data-dtype="Number"/>
</div>