<section>
  <!--#todo Find out how to get handlebars to work with data.ability.str.athletics and farhome.athletics for parameters-->
  <div class="ability-group flexcol">
    <h2>Strength</h2>
    <div class="ability flexrow">
      <label for="data.ability.str.athletics">{{localize 'farhome.athletics'}}</label>
      <input name="data.ability.str.athletics" type="text" value="{{data.ability.str.athletics}}" />
    </div>
    <div class="ability flexrow">
      <label for="data.ability.str.intimidation">{{localize 'farhome.intimidation'}}</label>
      <input name="data.ability.str.intimidation" type="text" value="{{data.ability.str.intimidation}}" />
    </div>
  </div>
</section>