<header class="sheet-header">
  <img class="profile-img flex0" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
  <div class="header-fields">
    <h1 class="flex1">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'farhome.itemName'}}" />
    </h1>
  </div>
  <a class="item-control item-roll flex0" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
</header>