<h1>[[i.name]]</h1>
<blockquote>
<p>Lv[[i.castedSpellLevel]], [[i.castingTime]], [[i.range]], [[i.spellDuration]], [[i.damageType]]</p>
</blockquote>
<p>[[i.description]]</p>
<p>[[skill({{strongestProf}}, {{strongestAttr}})]]</p>
<p>[[fh('gw')]]</p>