// #todo Make sure to prune unused CSS later

@import './utils/_colors.less';
@import './utils/_mixins.less';
@import './utils/_typography.less';
@import './utils/_variables.less';

@import './components/_effects.less';
@import './components/_forms.less';
@import './components/_items.less';
@import './components/_resource.less';
@import './components/_table.less';

@import './global/_flex.less';
@import './global/_grid.less';
@import './global/_rollable.less';
@import './global/_roller.less';

@import './sheets/actor-sheet.less';
@import './sheets/item-sheet.less';


// BEGIN DEBUG -- Move this to somewhere generic for actors/items
// #todo Consider a more medievely type of font
// #todo How to only allow scroll on the tabbed content section?
// #todo Consider re-arranging such that the parent properties show first and then the nested children

.farhome.sheet {
  background-color: @c-sheet;
  font-family: @font-primary;
  font-size: 1.0em;
  min-width: 850px;
  min-height: 700px;

  .window-content {
    .top-bar {
      background-color: @c-background-darken;
      border-radius: @standard-border-radius; // @todo Standarize these as variables somewhere
      padding: 5px;
    }

    color: @c-text-color;
    background: none;
    //background-color: @c-content;
    background-image: url('../images/farhome-cover.jpg');
  }

  input {
    background-color: @c-input;
    border: 0;
  }

  .sheet-tabs {
    .item.active {
      background-color: @c-background-darken;
      //border-color: @c-tab-border @c-tab-border @c-content @c-tab-border;
      /*
      box-shadow: 0 0 5px rgba(0,0,0,0.3);;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
      */
      text-shadow: none;
    }

    .item {
      &:hover {
        text-shadow: none;
      }

      background-color: transparent;
      display: block;
      padding: .5rem 1rem;
      border: 0px; //1px solid transparent;
      border-top-left-radius: @standard-border-radius;
      border-top-right-radius: @standard-border-radius;
    }

    margin: 0;
    border: none;
    padding: 5px 0px 0px 0px;
    background-color: @c-tab-bar;
  }

  .under-label {
    font-weight: bold;
    margin: 3px 0 3px 3px;
  }

  .name-input {
    font-size: 3em;
    height: 3em;
  }

  .level-input {
    font-size: 3em;
    height: 3em;
  }

  .header-input {
    padding: 5px;
  }

  .attributes-content {
    display: flex;
    flex-direction: row;
  }

  .attribute-list {
    .proficiency-group-box {
      text-align: center;
    }
    .attribute-box {
      .attribute-label {
        display: block;
        font-weight: bold;
      }
      .attribute-input {
        width: 2rem;
        height: 2rem;
      }
      margin: 5px;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 8rem;
  }

  .attribute-tag {
    color: @c-faded-white;
  }

  .proficiency-table {
    background-color: transparent;
    border: 0px;
    
    tr:nth-child(odd) {
      background-color: @c-background-darken-half;
    }

    tr:nth-child(even) {
      background-color: transparent;
    }
  }

  h2 {
    border-color: @c-standard-border;
  }
}

  // END DEBUG
