.farhome.sheet.actor {
  .profile-img {
    width: 150px;
    height: 150px;
  }

  .tox {
    .tox-editor-container {
      background: white;
    }

    .tox-edit-area {
      padding: 0 8px;
    }
  }
}