{{#if wrapDiv}}
<div class='fh-roller'>
  <form>
{{/if}}

    {{#each rolls as |roll rollIndex|}}
      <input
        class='fh-roll'
        type='checkbox'
        style='background-image: url("systems/farhome/images/{{roll.imageName}}.png")'
        data-die='{{roll.die}}'
        data-face='{{roll.face}}'
      >
    {{/each}}

{{#if wrapDiv}}
  </form>
</div>
{{/if}}