<div class="fh-roll-summary">
  <ul>
  {{#results}}
      <li>Successes: {{successes}}</li>
      <li>Criticals: {{crits}}</li>
      {{#wounds}}
      <li>Wounds: {{wounds}}</li>
      {{/wounds}}
  {{/results}}
  </ul>
</div>