<ul>
  <li>Successes: {{rollSummaryData.successes}} {{#if effectModifierData.exhaustion}}(-{{effectModifierData.exhaustion}} from exhaustion){{/if}}</li>
  <li>Criticals: {{rollSummaryData.crits}}</li>
  {{#if rollSummaryData.wounds}}
  <li>Wounds: {{rollSummaryData.wounds}}</li>
  {{/if}}
</ul>